@{
    ViewData["Title"] = "MATLAB";
}
<head>
    <title>MATLAB</title>
</head>

<body>
    <h1>MATLABについて</h1>
    <p>
        ここでは，この研究室で主に使っているプログラミング言語であるMATLABについて説明して行きたいと思います．
    </p>
    <p>
        MATLABとは，数値計算のための統合開発環境です．
        MATLABは，プログラムのほとんどのことができます．
        数値シミュレーションはもちろん，ディープラーニングといった機械学習，画像処理など幅広いです．
    </p>
    <p>
        最後の節で他の言語についても紹介したいと思います．
        MATLABは非常に便利な言語ですが，人により向き不向きがあるように言語にも向き不向きがあります．
        そこで，いろいろな言語の特徴を知っておくといざ実験するときなどに役に立つと思います．
    </p>
    <p>
        最後にちょっとだけMATLABのデメリットについて書きたいと思います．(完全な蛇足)
    </p>
    <p>
        MATLABの最大のデメリットはめちゃめちゃ価格が高いということです．
        フルツール込みで10万円ぐらいします．
        なので社会に出てから，MATLABと出会うことはないでしょう(笑)．
    </p>
    <h1>MATLABのインストール</h1>
    <p>
        MAtLABのインストールの仕方はこちらのPDFを参照してください．
    </p>
    <iframe src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlab_install.pdf" width="100%" height="100%"></iframe>
    <h1>MATLABの基本的な使い方</h1>
    <p>
        MATLABに関しては基本的な使い方はチュートリアルをお配りするので，それも参考にしてみてください．
        重複する内容もあると思いますが，ここでも少し書きたいと思います．
    </p>
    <p>
        まずは，MATLABを起動してみましょう．
        PCの検索欄に「matlab」と打ち込んでMATLABをクリックしてください．
        これで，起動できると思います．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabStarting.jpg" width="600"height="400">
    <p>
        次にコードを書くスクリプトを立ち上げましょう．
        右上の新規スクリプトをクリックしてください．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabscript.jpg" width="600"height="400">
    <p>
        このスクリプトにいろいろコードを書いていってください．
        細かい書き方についてはチュートリアルの方に書いていますのでそちらを参照してください．
    </p>
    <p>
        次はVSCodeでMATLABのコードを編集するやり方について説明します．
        まずVSCodeを起動してください．
        そこで，「ctrl+N」で新しいファイルを作成してください．
        すると以下のような画面がでると思います．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabVSCode1.png" width="600"height="400">
    <p>
        この画面を「ctrl+S」で保存しましょう．
        すると以下の画面が出てくると思います．
        ここで，ファイル名は自分の好きな名前にしてください．
        大切なのは，ファイルの種類のところです．
        初期のままなら「プレーンテキスト」となっていると思います．
        これを「MATLAB」に変更してください．
        これで，MATLABのスクリプトとして編集できるようになります．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabVSCode2.jpg" width="600"height="400">
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabVSCode3.png" width="600"height="400">
    <p>
        最後にVSCodeの拡張の話をしておきます．
        VSCodeにMATLABの拡張機能はありますが，色がついて見やすくなる程度の拡張機能だと考えてもらって差し支えないと思います．
        拡張機能の追加の仕方は2.5章で説明した通りです．
        拡張機能のところに「matlab」と打ち込みVSCodeの拡張機能をインストールしてください．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabVSCode4.jpg" width="600"height="400">
    <p>
        実際にコードを実行するやり方を説明します．
        MATLABのスクリプトを左クリックして，コマンドウィンドウのところにドラックしてください．
    </p>
    <img src="https://tb17kin.github.io/Homepage_statqvar/wwwroot/fig/matlabVSCode5.jpg" width="600"height="400">
</body>