@{
    ViewData["Title"] = "Slack";
}
<head>
    <title>Slack</title>
</head>

<body>
    <h1>Slackについて</h1>
    <p>
        Slackとは，ビジネス用のメッセージングアプリです．
        Slackは，Lineとは違い個人向きではなく企業向きなので大人数で何かするための情報共有等に向いています．
    </P>
    <p>
        Slackの機能としては，チャンネルと呼ばれるグループチャット機能があります．
        チャンネルには途中で入ってきた人にも会話のログを追うことができる機能があります．
    </P>
    <p>
        また，ファイルの共有がLineよりしやすいこともSlackを導入する利点といえるでしょう．
    </p>
    <h1>Slackのインストール</h1>
    <p>
        まず，PCにインストールをする方法を説明します．
        <a href="https://slack.com/intl/ja-jp/downloads/windows">こちら</a>を検索してください．
    </p>
    <p>
        Sign inをクリックしてください．
    </p>
    <p>
        ここまでできたら，先生からSlackの招待を受けてください．
        後は，アカウントの設定をするとSlackにログインできます．
    </p>
    <p>
        スマホ用にはアプリがあるので，スマホに入れるときはアプリをインストールしてください．
    </p>
</body>